body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: 1.5rem 'Nunito', sans-serif;
  min-height: 100%;

  background-image: url('b7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(60%);
}

.box1 {
  background-color: #2e2b2b;
  color: #fff;
  width: fit-content;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: 1px;
}

p.italic {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
.image-header {
  max-width: 100%;
  height: auto;
  background-color: black;
}
.egypt-image {
  width: 100%;
}
.monuments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px #bca741 solid;
  margin: 1rem;
}
.monuments img {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.monuments-info {
  padding: 1rem;
}
.image-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

.image-header:hover {
  transform: scaleX(-1);
}
.images {
  padding: 5rem 2rem;
  background-color: var(--light-primary-color);
  text-align: center;
}
.image {
  width: 15vw;
  background-color: lightslategray;
  margin: 1rem 0.5rem;
  display: inline-block;
  transition: 0.2s;
  border-radius: 0.3rem;
}
.egypt-image {
  width: 100%;
  border-radius: 0.3rem;
}
.image-text {
  padding: 2rem;
}
.img-large {
  max-width: 100%;
}
/*original*/
header,
footer,
main,
nav {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}
header,
footer {
  position: sticky;

  background-color: #be9d44a6;
  color: rgb(255, 251, 251);
}
header {
  top: 0;
}
nav {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  top: 0;
}
main {
  flex-wrap: 1;
}
footer {
  bottom: 0;
}
/*mediam screen*/
@media screen and (max-width: 1200px) {
  img.image-header {
    width: 80%;
  }
  div.image {
    width: 20%;
  }
}
/*ipad screen*/
@media screen and (max-width: 952px) {
  img.image-header {
    width: 80%;
  }
  div.image {
    width: 40%;
  }
}
/*mobile screen*/
@media screen and (max-width: 578px) {
  body {
    font: 1.5em 'Nunito', sans-serif;
  }
  ul.navbar-nav.ml-auto {
    display: block;
    position: relative;
    padding: auto;
  }
  img.image-header {
    width: 80%;
  }
  div.image {
    width: 80%;
  }
  .goog-te-combo {
    height: 21px;
    position: absolute;
    right: -1px;
    top: 37px;
    font-size: 10px;
  }
  .goog-te-gadget-icon {
    display: none;
  }
}
.more {
  overflow: hidden;
  width: 800px;
  padding: 20px;
  margin: 20px auto;
}
.more img {
  float: left;
  width: 25%;
  padding: 20px;
}
.A1,
.A2,
.A3 {
  width: 400px;
  height: 200px;
  height: 200px;
  border-radius: 20px;
  border-radius: 50%;
}
.col-lg-7 {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: floralwhite;
}
.text {
  margin: auto;
  color: #000;
  border: 3px solid 3A547B;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 10px;
}
.choose {
  margin: auto;
  text-align: center;
  width: 60%;
  color: #d5dadd;
}

h2 {
  background-color: #2e2b2b;
  color: #fff;
  width: fit-content;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: 350px;
}

.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 10px;
  margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1100px;
  position: relative;
  float: left;
}
body {
  padding: 0;
  margin: 0;
  background-color: floralwhite;
}

h1 {
  margin-top: 50px;
  margin-left: 300px;
  background: fixed;
  background-color: #ddd;
  font-size: 60px;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}

.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 20px;
  margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}

.textOverImage {
  width: 60%;
  height: 60%;
  display: inline-block;
  background-size: cover;
  border-radius: 4px;
  margin: 4px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.textOverImage > input {
  display: none;
}

.textOverImage > div,
.textOverImage > h2 {
  position: absolute;
  background-color: rgba(85, 75, 75, 0.8);
  bottom: 20px;
  left: 4px;
  right: 4px;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

.textOverImage:hover > h2,
.textOverImage > input:checked + h2 + div {
  bottom: 4px;
  opacity: 1;
}

.textOverImage > input:checked + h2 {
  bottom: -20px;
  opacity: 0;
}

.textOverImage > h2 {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 100%;
  height: 100%;
}

/* Clearfix (clear floats) */
.row::after {
  width: fit-content;
  content: '';
  clear: both;
  display: table;
}
.uiunit_none {
  display: none;
}
.languageMenu {
  display: none;
}
/* speaker button*/
.button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #5d7a94;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background: #89c2d8;
}
.button:active {
  background: #7db3cf;
}
.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}
.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
