
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monuments{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  border:1px #bca741 solid;
  margin:1rem;

}

.monuments img{
  width:100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
  
} 
main{
  flex:1;
}

.monuments-info
{
  padding: 1rem;
}
.image-header
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}  
 
.image-header:hover{

  transform: scaleX(-1);
} 
.images {  

  padding: 5rem 2rem;
  background-color: var(--light-primary-color );
  text-align: center;

} 
.image 
{
  width: 15vw;
  background-color:lightslategray;
  margin: 1rem .5rem;
  display: inline-block;
  transition: .2s;
  border-radius: .3rem;
} 
.egypt-image 
{
  width: 100%;
  border-radius: .3rem ;
} 
.image-text
{
  padding: 2rem ;
}
.img-large{
  max-width:100%;
}