@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:ital,wght@0,500;1,400&display=swap");

.box {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 70%;
  flex-direction: column;

  margin-left: 300px;
}

.one {
  display: flex;
  flex: 0.2;
  height: 10vh;
  width: auto;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  font-size: 22px;
}

.two {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 50%;
}

.three {
  display: flex;
  width: auto;

  margin-bottom: 60px;

  height: 40%;
}

.four {
  display: flex;
  height: 60%;

  width: auto;
}

.boxx {
  display: flex;
  flex: 1;
  width: auto;
  height: 60%;

  flex-direction: row;
  margin-bottom: 10px;
}

.comp {
  display: flex;
  flex: 1;
  height: 132%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.stru {
  display: flex;
  flex: 1;
  height: 100%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.strue {
  display: flex;
  flex: 1;
  height: 133%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.wide {
  display: flex;
  flex: 1;
  height: 78%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 12.8px;
}

.sub {
  display: flex;
  flex: 1;
  height: 84%;
  width: auto;
  transition: 1s ease-in-out;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.unk {
  display: flex;
  flex: 1;
  height: 113%;
  width: auto;
  transition: 1s ease-in-out;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.sub:hover {
  background-size: 150% 150%;
  background-color: rgba(0, 0, 0, 0.6);
}

.sub:hover .over {
  display: flex;
}

.sub .over {
  display: none;
  transition: 1s ease-in-out;
  width: 100%;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.sup {
  display: flex;
  flex: 1;
  height: 14vh;
  width: auto;

  flex-direction: row;
}

.supp {
  display: flex;
  flex: 1;
  height: 17vh;
  width: auto;
  margin-top: 5px;

  flex-direction: row;
}

.pree {
  display: flex;
  flex: 1;
  height: 150%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.stru {
  display: flex;
  flex: 1;
  height: 150%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.portion {
  display: flex;
  flex: 1;
  height: 168%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.structure {
  display: flex;
  flex: 1;
  height: 174%;
  width: auto;
  background-image: url("https://images.app.goo.gl/uG5KS9gMrENRPNpZ6");
  background-size: cover;
  margin-right: 10px;
  border-radius: 10px;
}

#per {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#par {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#sent {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#pti {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#cri {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#des {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#select {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#test {
  justify-content: center;
  color: white;
  margin-top: 180px;
}

#ok {
  justify-content: center;
  color: white;
  margin-top: 180px;
}
